/* Styles for elements with the class "topBarContainer" (the navigation bar) */
.topBarContainer {
    min-width: 100%; /* Minimum width to span the entire viewport */
    position: fixed; /* Fixed position so it stays at the top of the viewport */
    top: 0; /* Positioned at the top of the viewport */

    display: flex; /* Use flex layout */
    height: 40px; /* Set the height */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

    padding-top: 20px; /* Top padding */
}

/* Styles for elements with the class "linkDecoration" (the navigation links) */
.linkDecoration {
    width: 25%; /* Set a width for each link */
    background-color: whitesmoke; /* Background color */
    height: 100%; /* Set the height to fill the container */

    text-decoration: none; /* Remove default link decoration */
    color: black; /* Text color */

    display: flex; /* Use flex layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle depth effect */

    margin-inline: 20px; /* Horizontal margin between links */
    transition: transform 0.3s; /* Smooth transformation on hover */
}

/* Remove border radius and margin on text selection */
.linkDecoration::selection {
    border-radius: 0px;
    margin-inline: 0px;
}

/* Styles for the links when hovered over */
.linkDecoration:hover {
    background-color: rgb(200, 200, 200); /* Background color change on hover */
    cursor: pointer; /* Cursor change to indicate interactivity */
    
    transform: scale(1.05); /* Slightly scale up the link on hover */
}
