/* Styles for elements with the class "TableContainer" */
.TableContainer {
    background-color: white; /* Background color for the table container */
    padding: 10px; /* Padding around the table container */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Use flex layout */
    flex-direction: row; /* Arrange children in a row */
    text-align: center; /* Center-align text within the container */
    box-shadow: -3px 0px 0px rgba(0,0,0,.5); /* Box shadow on the left side */
}

/* Styles for elements with the class "ColumnContainer" */
.ColumnContainer {
    padding-inline: 5px; /* Horizontal padding for column containers */
}

/* Styles for elements with the class "ColumnTitle" */
.ColumnTitle {
    padding: 5px; /* Padding around column titles */
    border-radius: 10px; /* Rounded corners for column titles */
}
